name: Terraform CI with Checkov

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  checkov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Checkov (IaC security scan)
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform
          soft_fail: false

  terraform:
    needs: checkov
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform/envs/dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -var="my_ip_cidr=${{ secrets.MY_IP_CIDR }}" -var="key_name=${{ secrets.KEY_NAME }}"

      - name: Run Checkov Security Scan
        run: checkov -d . --soft-fail
